body {
  background-color: #d4dbe4;
  font-family: "Roboto", sans-serif;
}

a {
  color: #5e80aa;
}

.weather-app {
  background-color: #fff;
  max-width: 600px;
  padding: 30px;
  margin: 40px auto;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #b9bfc7;
}

.search-form {
  padding-bottom: 30px;
  border-bottom: 1px solid #c2c9d150;
}

.weather-search-input {
  background-color: #ebf0f7;
  border: none;
  padding: 15px 20px;
  font-size: 16px;
  width: 75%;
  border-radius: 8px;
}

.weather-search-submit {
  color: #fff;
  background-color: rgb(94, 128, 170);
  border: none;
  border-radius: 8px;
  padding: 15px 20px;
  width: 20%;
  margin-left: 5px;
  font-size: 16px;
}

main {
  padding: 30px 0;
}

.current-weather-data {
  display: flex;
  justify-content: space-between;
}

.current-city {
  margin: 0;
  font-size: 38px;
  font-weight: 900;
  line-height: 48px;
}

.current-details {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(70, 95, 126, 0.658);
}

.current-details strong {
  color: #7f3ee7e5;
}

.weather-icon {
  font-size: 50px;
  position: relative;
  top: 12px;
}

.weather-value {
  font-size: 80px;
  font-weight: bold;
}

.weather-unit {
  font-size: 20px;
  position: relative;
  top: -40px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
}

.forecast-day {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(70, 95, 126, 0.658);
}

.forecast-icon {
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto;
}

.forecast-temperatures {
  display: flex;
  justify-content: center;
  font-size: 16px;
  color: #7f3ee7e5;
  padding-top: 15px;
}

.forecast-temp {
  padding: 0 8px;
}

footer {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.521);
  padding-top: 30px;
  border-top: 1px solid #c2c9d150;
  text-align: center;
}
